In [ ]:
import pandas as pd

In [ ]:
# Load the data into a Pandas DataFrame
df = pd.read_csv('/content/ICRISAT-District Level Data (1) (1).csv')

In [ ]:
# Group the data by state name and year, and calculate the mean for each attribute
result = df.groupby(['State Code', 'State Name', 'Year'])[['RICE AREA (1000 ha)', 'RICE PRODUCTION (1000 tons)', 'RICE YIELD (Kg per ha)',
                                                         'WHEAT AREA (1000 ha)', 'WHEAT PRODUCTION (1000 tons)', 'WHEAT YIELD (Kg per ha)',
                                                         'MAIZE AREA (1000 ha)', 'MAIZE PRODUCTION (1000 tons)', 'MAIZE YIELD (Kg per ha)',
                                                         'CHICKPEA AREA (1000 ha)', 'CHICKPEA PRODUCTION (1000 tons)', 'CHICKPEA YIELD (Kg per ha)',
                                                         'GROUNDNUT AREA (1000 ha)', 'GROUNDNUT PRODUCTION (1000 tons)', 'GROUNDNUT YIELD (Kg per ha)',
                                                         'POTATOES AREA (1000 ha)', 'ONION AREA (1000 ha)']].mean().reset_index()

In [ ]:
# Rename the columns for better readability
result = result.rename(columns={
    'State Code': 'State Code',
    'State Name': 'State Name',
    'Year': 'Year',
    'RICE AREA (1000 ha)': 'Avg Rice Area (1000 ha)',
    'RICE PRODUCTION (1000 tons)': 'Avg Rice Production (1000 tons)',
    'RICE YIELD (Kg per ha)': 'Avg Rice Yield (Kg/ha)',
    'WHEAT AREA (1000 ha)': 'Avg Wheat Area (1000 ha)',
    'WHEAT PRODUCTION (1000 tons)': 'Avg Wheat Production (1000 tons)',
    'WHEAT YIELD (Kg per ha)': 'Avg Wheat Yield (Kg/ha)',
    'MAIZE AREA (1000 ha)': 'Avg Maize Area (1000 ha)',
    'MAIZE PRODUCTION (1000 tons)': 'Avg Maize Production (1000 tons)',
    'MAIZE YIELD (Kg per ha)': 'Avg Maize Yield (Kg/ha)',
    'CHICKPEA AREA (1000 ha)': 'Avg Chickpea Area (1000 ha)',
    'CHICKPEA PRODUCTION (1000 tons)': 'Avg Chickpea Production (1000 tons)',
    'CHICKPEA YIELD (Kg per ha)': 'Avg Chickpea Yield (Kg/ha)',
    'GROUNDNUT AREA (1000 ha)': 'Avg Groundnut Area (1000 ha)',
    'GROUNDNUT PRODUCTION (1000 tons)': 'Avg Groundnut Production (1000 tons)',
    'GROUNDNUT YIELD (Kg per ha)': 'Avg Groundnut Yield (Kg/ha)',
    'POTATOES AREA (1000 ha)': 'Avg Potatoes Area (1000 ha)',
    'ONION AREA (1000 ha)': 'Avg Onion Area (1000 ha)'
})

# Display the result
result

,State Code,State Name,Year,Avg Rice Area (1000 ha),Avg Rice Production (1000 tons),Avg Rice Yield (Kg/ha),Avg Wheat Area (1000 ha),Avg Wheat Production (1000 tons),Avg Wheat Yield (Kg/ha),Avg Maize Area (1000 ha),Avg Maize Production (1000 tons),Avg Maize Yield (Kg/ha),Avg Chickpea Area (1000 ha),Avg Chickpea Production (1000 tons),Avg Chickpea Yield (Kg/ha),Avg Groundnut Area (1000 ha),Avg Groundnut Production (1000 tons),Avg Groundnut Yield (Kg/ha),Avg Potatoes Area (1000 ha),Avg Onion Area (1000 ha)
0,1,Andhra Pradesh,2000,244.979091,730.970000,2812.860000,0.136364,0.077273,156.814545,7.125455,27.352727,3590.452727,15.109091,18.530909,1484.559091,146.454545,167.863636,1341.372727,0.100909,1.685455
1,1,Andhra Pradesh,2001,228.669091,711.244545,2898.490000,0.148182,0.101818,284.120909,5.290909,24.648182,4428.016364,22.303636,29.007273,1507.446364,132.183636,90.922727,1345.175455,0.109091,1.813636
2,1,Andhra Pradesh,2002,169.727273,483.181818,2521.583636,0.090909,0.181818,90.909091,6.818182,29.363636,3255.307273,30.090909,28.181818,423.448182,116.000000,60.000000,1078.600000,0.117273,1.454545
3,1,Andhra Pradesh,2003,177.939091,550.371818,2697.104545,0.104545,0.030909,77.002727,11.019091,44.998182,3377.170000,30.412727,32.000000,1105.440000,117.931818,69.320000,1182.018182,0.135455,1.691818
4,1,Andhra Pradesh,2004,202.517273,672.060000,3121.200000,0.070909,0.016364,41.958182,11.340000,64.748182,4626.862727,24.407273,25.580000,1076.540909,149.650909,131.106364,1480.260000,0.200909,2.034545
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,20,Telangana,2013,221.602222,731.232222,3146.320000,0.782222,0.865556,573.505556,83.357778,390.166667,4304.205556,12.604444,21.624444,1519.011111,23.341111,39.458889,1634.438889,0.390000,1.642222
356,20,Telangana,2014,157.268889,504.998889,3073.860000,0.648889,0.768889,527.981111,76.831111,256.450000,3472.546667,6.592222,9.031111,1297.022222,17.200000,32.803333,1841.953333,0.338889,1.546667
357,20,Telangana,2015,116.242222,338.587778,2810.510000,0.550000,1.878889,1318.686667,63.643333,194.563333,3386.341111,7.761111,5.595556,828.302222,14.198889,22.877778,1727.400000,0.246667,1.748889
358,20,Telangana,2016,203.173333,733.230000,3454.222222,0.601111,0.824444,1059.660000,89.091111,320.274444,4133.521111,11.268889,14.643333,1322.425556,18.566667,37.995556,1956.312222,0.358889,1.730000
359,20,Telangana,2017,218.041111,695.937778,3099.463333,0.462222,0.641111,1104.485556,70.050000,305.793333,4729.612222,10.828889,16.418889,1486.283333,18.563333,41.391111,2084.445556,0.243333,1.521111

In [ ]:
result.to_csv('state-level-prod.csv')

## Fertilizer

In [ ]:
# Load the data into a Pandas DataFrame
df = pd.read_csv('/content/ICRISAT-District Level Data (6).csv')

In [ ]:
columns = ['Dist Code', 'Year', 'State Code', 'State Name', 'Dist Name',
           'NITROGEN CONSUMPTION (tons)', 'PHOSPHATE CONSUMPTION (tons)',
           'POTASH CONSUMPTION (tons)', 'TOTAL CONSUMPTION (tons)']

df = pd.read_csv('/content/ICRISAT-District Level Data (6).csv')

# Convert numeric columns to float
numeric_columns = ['NITROGEN CONSUMPTION (tons)', 'PHOSPHATE CONSUMPTION (tons)',
                  'POTASH CONSUMPTION (tons)', 'TOTAL CONSUMPTION (tons)']
for col in numeric_columns:
    df[col] = df[col].astype(float)

# Group by State Code, State Name, and Year, then sum all consumption values
result = df.groupby(['State Code', 'State Name', 'Year'])[['NITROGEN CONSUMPTION (tons)',
                                                          'PHOSPHATE CONSUMPTION (tons)',
                                                          'POTASH CONSUMPTION (tons)',
                                                          'TOTAL CONSUMPTION (tons)']].sum().reset_index()

# Rename columns for clarity
result = result.rename(columns={
    'NITROGEN CONSUMPTION (tons)': 'Total State Nitrogen Consumption (tons)',
    'PHOSPHATE CONSUMPTION (tons)': 'Total State Phosphate Consumption (tons)',
    'POTASH CONSUMPTION (tons)': 'Total State Potash Consumption (tons)',
    'TOTAL CONSUMPTION (tons)': 'Total State Consumption (tons)'
})

# Sort by Year
result = result.sort_values('Year')

result

,State Code,State Name,Year,Total State Nitrogen Consumption (tons),Total State Phosphate Consumption (tons),Total State Potash Consumption (tons),Total State Consumption (tons)
0,1,Andhra Pradesh,2000,787410.0,366772.0,147049.0,1301228.0
108,7,Maharashtra,2000,965865.0,448237.0,233059.0,1647161.0
126,8,Orissa,2000,207414.0,71209.0,40591.0,319214.0
72,5,Karnataka,2000,731988.0,383502.0,232866.0,1348356.0
339,20,Telangana,2000,574386.0,236689.0,62270.0,873345.0
...,...,...,...,...,...,...,...
251,14,Chhattisgarh,2017,330081.0,169002.0,51378.0,550461.0
266,15,Jharkhand,2017,92533.0,70608.0,14644.0,177788.0
284,16,Uttarakhand,2017,122284.0,16772.0,6535.0,145588.0
107,6,Madhya Pradesh,2017,1263807.0,655669.0,98081.0,2017556.0
356,20,Telangana,2017,452866.0,163795.0,66360.0,683020.0

In [ ]:
result.to_csv('state-level-fert.csv')

## Merge Fertilizer and Area Data

In [ ]:
production_df = pd.read_csv('/content/state-level-prod.csv')
fertilizer_df = pd.read_csv('/content/state-level-fert.csv')

In [ ]:
def load_and_merge_datasets(production_data, fertilizer_data):

    if isinstance(production_data, str):
        prod_df = pd.read_csv(production_data, sep='\t')
    else:
        prod_df = production_data.copy()

    if isinstance(fertilizer_data, str):
        fert_df = pd.read_csv(fertilizer_data, sep='\t')
    else:
        fert_df = fertilizer_data.copy()

    prod_df.columns = [col.strip() for col in prod_df.columns]
    fert_df.columns = [col.strip() for col in fert_df.columns]

    merged_df = pd.merge(
        prod_df,
        fert_df,
        how='inner',
        on=['State Code', 'State Name', 'Year']
    )

    # Sort the data
    merged_df = merged_df.sort_values(['State Name', 'Year'])

    # Calculate fertilizer use efficiency metrics
    # Production per ton of fertilizer used
    for crop in ['Rice', 'Wheat', 'Maize', 'Chickpea', 'Groundnut']:
        prod_col = f'Avg {crop} Production (1000 tons)'
        if prod_col in merged_df.columns:
            merged_df[f'{crop} Production per Ton Fertilizer'] = (
                merged_df[prod_col] * 1000 /
                merged_df['Total State Consumption (tons)']
            )

    return merged_df

In [ ]:
merged_data = load_and_merge_datasets(production_df, fertilizer_df)

In [ ]:
merged_data

,Unnamed: 0_x,State Code,State Name,Year,Avg Rice Area (1000 ha),Avg Rice Production (1000 tons),Avg Rice Yield (Kg/ha),Avg Wheat Area (1000 ha),Avg Wheat Production (1000 tons),Avg Wheat Yield (Kg/ha),...,Unnamed: 0_y,Total State Nitrogen Consumption (tons),Total State Phosphate Consumption (tons),Total State Potash Consumption (tons),Total State Consumption (tons),Rice Production per Ton Fertilizer,Wheat Production per Ton Fertilizer,Maize Production per Ton Fertilizer,Chickpea Production per Ton Fertilizer,Groundnut Production per Ton Fertilizer
0,0,1,Andhra Pradesh,2000,244.979091,730.970000,2812.860000,0.136364,0.077273,156.814545,...,0,787410.0,366772.0,147049.0,1301228.0,0.561754,0.000059,0.021021,0.014241,0.129004
1,1,1,Andhra Pradesh,2001,228.669091,711.244545,2898.490000,0.148182,0.101818,284.120909,...,1,707050.0,352767.0,163402.0,1223218.0,0.581454,0.000083,0.020150,0.023714,0.074331
2,2,1,Andhra Pradesh,2002,169.727273,483.181818,2521.583636,0.090909,0.181818,90.909091,...,2,616975.0,284104.0,152142.0,1053218.0,0.458767,0.000173,0.027880,0.026758,0.056968
3,3,1,Andhra Pradesh,2003,177.939091,550.371818,2697.104545,0.104545,0.030909,77.002727,...,3,656864.0,301271.0,170404.0,1128536.0,0.487687,0.000027,0.039873,0.028355,0.061425
4,4,1,Andhra Pradesh,2004,202.517273,672.060000,3121.200000,0.070909,0.016364,41.958182,...,4,734017.0,366667.0,204411.0,1305094.0,0.514951,0.000013,0.049612,0.019600,0.100457
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,229,13,West Bengal,2013,367.580000,1025.125333,2792.031333,22.099333,61.857333,2498.482667,...,229,692961.0,262929.0,270956.0,1226846.0,0.835578,0.050420,0.033717,0.001591,0.008240
230,230,13,West Bengal,2014,368.434667,1061.813333,2841.412667,22.309333,62.617333,2562.142667,...,230,756844.0,390817.0,319240.0,1466902.0,0.723847,0.042687,0.029535,0.001403,0.007065
231,231,13,West Bengal,2015,368.264000,1063.217333,2806.663333,22.658000,52.566000,2066.367333,...,231,838558.0,451206.0,325889.0,1615653.0,0.658073,0.032535,0.027334,0.001014,0.007079
232,232,13,West Bengal,2016,347.467333,1007.088000,2842.659333,21.321333,57.235333,2369.040667,...,232,779507.0,412206.0,310315.0,1502030.0,0.670485,0.038105,0.032320,0.001264,0.006965
233,233,13,West Bengal,2017,353.846000,1043.929333,2880.750000,7.734000,23.942000,2528.984667,...,233,746792.0,436101.0,368058.0,1550948.0,0.673091,0.015437,0.059356,0.001798,0.007662

In [ ]:
merged_data.to_csv('state-level-fert-prod.csv')

## Preprocessing Irrigation Data

In [ ]:
def aggregate_districts_to_state(df):
    """
    Aggregate district-level agricultural data to state level by calculating means

    Parameters:
    df (pandas.DataFrame): Input DataFrame with district-level data

    Returns:
    pandas.DataFrame: State-level aggregated data by year
    """

    agricultural_columns = [
        'RICE IRRIGATED AREA (1000 ha)',
        'WHEAT IRRIGATED AREA (1000 ha)',
        'MAIZE IRRIGATED AREA (1000 ha)',
        'CHICKPEA IRRIGATED AREA (1000 ha)',
        'GROUNDNUT IRRIGATED AREA (1000 ha)'
    ]

    # Group by Year and State Name, then calculate mean for agricultural columns
    state_aggregated = (df.groupby(['Year', 'State Name'])[agricultural_columns]
                         .mean()
                         .round(3)
                         .reset_index())


    state_aggregated = state_aggregated.sort_values(['Year', 'State Name'])

    return state_aggregated

In [ ]:
df = pd.read_csv('ICRISAT-District Level Data (2).csv')

In [ ]:
state_averages = aggregate_districts_to_state(df)
state_averages

,Year,State Name,RICE IRRIGATED AREA (1000 ha),WHEAT IRRIGATED AREA (1000 ha),MAIZE IRRIGATED AREA (1000 ha),CHICKPEA IRRIGATED AREA (1000 ha),GROUNDNUT IRRIGATED AREA (1000 ha)
0,2000,Andhra Pradesh,234.186,0.036,3.150,0.117,16.117
1,2000,Assam,0.000,0.000,0.000,0.000,0.000
2,2000,Bihar,180.055,169.583,32.420,0.524,0.000
3,2000,Chhattisgarh,152.268,6.293,0.002,0.138,0.327
4,2000,Gujarat,20.600,17.861,1.378,0.192,5.873
...,...,...,...,...,...,...,...
337,2017,Rajasthan,5.260,116.815,0.757,45.175,21.956
338,2017,Tamil Nadu,143.327,0.957,2.046,0.014,160.204
339,2017,Telangana,83.876,0.216,11.179,1.830,3.706
340,2017,Uttar Pradesh,123.246,219.167,7.590,1.650,0.142
341,2017,Uttarakhand,21.856,20.558,0.024,0.048,0.000

In [ ]:
state_averages.to_csv('irig.csv')

In [ ]:
df_irig = pd.read_csv('irig.csv')
df_state = pd.read_csv('state-level-fert-prod-fin.csv')

In [ ]:
def merge_agricultural_data(irrigated_data, state_metrics):

    df1 = pd.DataFrame(irrigated_data)
    df2 = pd.DataFrame(state_metrics)

    # Function to standardize column names
    def standardize_column_names(df):
        return df.rename(columns=lambda x: x.strip().replace(" ", "_"))

    # Standardize column names in both dataframes
    df1 = standardize_column_names(df1)
    df2 = standardize_column_names(df2)

    # Rename columns in first dataset
    column_mapping = {
        'index': 'index',
        'Year': 'Year',
        'State Name': 'State_Name',  # Handle possible original column name
        'State_Name': 'State_Name',  # Handle if already renamed
        'Rice Irrigated': 'Rice_Irrigated',
        'Wheat Irrigated': 'Wheat_Irrigated',
        'Maize Irrigated': 'Maize_Irrigated',
        'Chickpea Irrigated': 'Chickpea_Irrigated',
        'Groundnut Irrigated': 'Groundnut_Irrigated'
    }

    existing_columns = {k: v for k, v in column_mapping.items() if k in df1.columns}
    df1 = df1.rename(columns=existing_columns)

    # Verify merge columns exist
    merge_columns = ['State_Name', 'Year']
    for col in merge_columns:
        if col not in df1.columns:
            raise KeyError(f"Column '{col}' not found in first dataset. Available columns: {df1.columns.tolist()}")
        if col not in df2.columns:
            raise KeyError(f"Column '{col}' not found in second dataset. Available columns: {df2.columns.tolist()}")

    # Perform the merge
    merged_df = pd.merge(
        df1,
        df2,
        on=['State_Name', 'Year'],
        how='inner'
    )

    duplicate_cols = [col for col in merged_df.columns if col.endswith('_x') or col.endswith('_y')]
    if duplicate_cols:
        merged_df = merged_df.drop(duplicate_cols, axis=1)

    index_cols = [col for col in merged_df.columns if col.startswith('index')]
    if index_cols:
        merged_df = merged_df.drop(index_cols, axis=1)


    merged_df = merged_df.sort_values(['State_Name', 'Year']).reset_index(drop=True)

    return merged_df

merged_data = merge_agricultural_data(df_irig, df_state)

Dataset 1 columns: ['Unnamed: 0', 'Year', 'State Name', 'RICE IRRIGATED AREA (1000 ha)', 'WHEAT IRRIGATED AREA (1000 ha)', 'MAIZE IRRIGATED AREA (1000 ha)', 'CHICKPEA IRRIGATED AREA (1000 ha)', 'GROUNDNUT IRRIGATED AREA (1000 ha)']
Dataset 2 columns: ['Unnamed: 0', 'State Code', 'State Name', 'Year', 'Avg Rice Area (1000 ha)', 'Avg Rice Production (1000 tons)', 'Avg Rice Yield (Kg/ha)', 'Avg Wheat Area (1000 ha)', 'Avg Wheat Production (1000 tons)', 'Avg Wheat Yield (Kg/ha)', 'Avg Maize Area (1000 ha)', 'Avg Maize Production (1000 tons)', 'Avg Maize Yield (Kg/ha)', 'Avg Chickpea Area (1000 ha)', 'Avg Chickpea Production (1000 tons)', 'Avg Chickpea Yield (Kg/ha)', 'Avg Groundnut Area (1000 ha)', 'Avg Groundnut Production (1000 tons)', 'Avg Groundnut Yield (Kg/ha)', 'Total State Nitrogen Consumption (tons)', 'Total State Phosphate Consumption (tons)', 'Total State Potash Consumption (tons)', 'Total State Consumption (tons)', 'Rice Production per Ton Fertilizer', 'Wheat Production per Ton Fertilizer', 'Maize Production per Ton Fertilizer', 'Chickpea Production per Ton Fertilizer', 'Groundnut Production per Ton Fertilizer']

In [ ]:
merged_data.to_csv('state-level-fert-prod-fin-irig.csv')

## Rainfall Merge

In [ ]:
import pandas as pd

# Load the first dataset
df1 = pd.read_csv('/content/rainfall_YoY_final.csv')

# Load the second dataset
df2 = pd.read_csv('/content/state-level-fert-prod-fin-irig.csv')

# Rename the columns in df1
df1 = df1.rename(columns={'State_Name': 'state_name', 'Year': 'year'})

# Rename the columns in df2
df2 = df2.rename(columns={'State_Name': 'state_name', 'Year': 'year'})

# Merge the two dataframes on 'State_Name' and 'Year'
merged_df = pd.merge(df1, df2, on=['state_name', 'year'], how='outer')

# Display the merged dataframe
merged_df

,state_name,year,Annual_Rainfall,Unnamed: 0,RICE_IRRIGATED_AREA_(1000_ha),WHEAT_IRRIGATED_AREA_(1000_ha),MAIZE_IRRIGATED_AREA_(1000_ha),CHICKPEA_IRRIGATED_AREA_(1000_ha),GROUNDNUT_IRRIGATED_AREA_(1000_ha),State_Code,...,Avg_Groundnut_Yield_(Kg/ha),Total_State_Nitrogen_Consumption_(tons),Total_State_Phosphate_Consumption_(tons),Total_State_Potash_Consumption_(tons),Total_State_Consumption_(tons),Rice_Production_per_Ton_Fertilizer,Wheat_Production_per_Ton_Fertilizer,Maize_Production_per_Ton_Fertilizer,Chickpea_Production_per_Ton_Fertilizer,Groundnut_Production_per_Ton_Fertilizer
0,Andhra Pradesh,2000,992.3,0,234.186,0.036,3.150,0.117,16.117,1,...,1341.372727,787410,366772,147049,1301228,0.561754,0.000059,0.021021,0.014241,0.129004
1,Andhra Pradesh,2001,1009.3,1,220.777,0.041,2.621,0.185,13.721,1,...,1345.175455,707050,352767,163402,1223218,0.581454,0.000083,0.020150,0.023714,0.074331
2,Andhra Pradesh,2002,703.2,2,162.006,0.037,3.704,0.258,11.123,1,...,1078.600000,616975,284104,152142,1053218,0.458767,0.000173,0.027880,0.026758,0.056968
3,Andhra Pradesh,2003,1096.8,3,169.485,0.044,6.365,0.293,12.152,1,...,1182.018182,656864,301271,170404,1128536,0.487687,0.000027,0.039873,0.028355,0.061425
4,Andhra Pradesh,2004,873.6,4,194.609,0.038,6.792,0.223,12.494,1,...,1480.260000,734017,366667,204411,1305094,0.514951,0.000013,0.049612,0.019600,0.100457
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316,Uttarakhand,2013,1735.4,316,21.110,19.815,0.015,0.055,0.000,16,...,466.106250,105567,16709,5753,128029,0.556349,0.711997,0.031995,0.000478,0.000312
317,Uttarakhand,2014,1287.4,317,21.141,20.152,0.020,0.060,0.000,16,...,413.691250,106270,16600,6039,128911,0.554520,0.553201,0.047048,0.000485,0.000175
318,Uttarakhand,2015,1247.6,318,21.381,20.059,0.031,0.062,0.000,16,...,392.857500,142008,16075,4937,163021,0.468759,0.501753,0.028739,0.000406,0.000130
319,Uttarakhand,2016,1308.6,319,21.751,19.994,0.026,0.059,0.000,16,...,483.825000,135121,19060,6643,160823,0.472437,0.576853,0.027693,0.000466,0.000124
320,Uttarakhand,2017,1476.0,320,21.856,20.558,0.024,0.048,0.000,16,...,774.565000,122284,16772,6535,145588,0.542713,0.667088,0.035477,0.000369,0.000206

In [ ]:
merged_df.to_csv('state-level-fert-prod-fin-irig-rain.csv')